include ../components/wrap

+page
    div.container
        div.row.mt-5
            h1 Совместные оптовые закупки
            p.fw-light.ms-3.
                Купите сырьё, товары и материалы по близкой к оптовой цене - за счёт совместной закупки.<br>
                Выберите нужный товар, позвоните нам и мы доставим вам заказ следующей партией.
        div.row.mt-5
            div.input-group
                input.form-control.shadow-none(type='search' placeholder='Введите текст...')
                button.btn.btn-primary.shadow-none(type='search') Найти